<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
layout:decorator="templateNumber1">
<head>
<meta charset="utf-8"/>
<title>Audit Surveillance App</title>
</head>
<body>
<div layout:fragment="content">
	 
	  <section id="partie1">
        <div class="container">
            <h1>Analyse Complete de vos sites </h1>
            <p>Nos solutions vos permet de faire l’audit et de mesurer les performances des applications Web</p>
        </div>
    </section >
    <section id="partie2">
        <div class="container">
            <h1>S'inscrire à notre Newsletter</h1>
        <form>
            <input type="email" name="mail" placeholder="Entrez votre mail"/>
            <input type="submit" class="botton" value="Envoyer!!"/>

        </form>
        </div>
    </section>
    <section id="partie3">
        <div class="container">
            <div class="patie31">
                <img src="img/faster-website.png"/>
                <h3> Tester la Performance</h3>
                <p> Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas</p>
            	<input type="submit" class="botton" value="en savoir plus"/>
            </div>
            <div class="patie31">
                <img src="img/images.png" width="10%"/>
                <h3>Analyser les risques de securite</h3>
                <p>Proin accumsan orci egestas placerat auctor</p>
                <input type="submit" class="botton" value="en savoir plus"/>
            </div>
            <div class="patie31">
                <img src="img/Why-SEO-is-ideal-for-your-site.jpg" />
                <h3>SEO</h3>
            <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos</p>
            <input type="submit" class="botton" value="en savoir plus"/>
            </div>
        </div>
    </section>
</div>
		
		
</body>
</html>