<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
layout:decorator="templateNumber1">

<head>
<meta charset="utf-8"/>

<title>Connexion</title>
<link rel="stylesheet" type="text/css" href="../static/css/style.css"
th:href="@{/css/style.css}"/>
</head>
<body>
	<div layout:fragment="content">
	<div class="containerz">

    <form id="signup">


        <div class="header">
        
            <h3>Authentification</h3>
            
            <p>Veuillez saisir vos identifiants</p>
            
        </div>
        
        <div class="sep"></div>

        <div class="inputs">
        
            <input type="email" placeholder="adresse mail"/>
        
            <input type="password" placeholder="Mot De Passe" />
            
            <a id="submit" href="@{/compte}">SIGN IN</a>
        
        </div>

    </form>

</div>
​
	</div>
      
</body>
</html>