<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8"/>
<title>Audit Surveillance App</title>
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"
th:href="@{/css/bootstrap.min.css}"/>
<link rel="stylesheet" type="text/css" href="../static/css/Touche.css"
th:href="@{/css/Touche.css}"/>
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"
th:href="@{/css/bootstrap.min.css}"/>
<link rel="stylesheet" type="text/css" href="../static/css/TouchePersonnel.css"
th:href="@{/css/TouchePersonnel.css}"/>
</head>
<body>
	<header>
		<div class="container">
            <div id="zz">
                            <h1> <span class="highlight">DASHBOARD </span></h1>
            
            </div>
            <nav>
                <ul>
                    <li><a th:href="@{/acceuil}" >Acceuil</a></li>
                    <li><a th:href="@{/Comte}" >Compte</a></li>
                    <li><a th:href="@{/logout}">Deconnexion</a></li>
                    
                    
                </ul>
            </nav>
        </div>
       
        
   </header>
   <section layout:fragment="menu">
	</section>
	<section layout:fragment="content"></section>
<footer>


    <p>Team KMHK, Copyright &copy; by IGA-UHA-MIAGE 2017</p>
</footer>

</body>
</html>
